*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#app {
  max-width: 1280px;
  height: calc(100vh - 4rem);
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

.full-screen {
  width: 100%;
  height: 100%;
}

